

body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  /*height: 100px;
  display: flex;*/
  align-items: center;
  text-align: center;
  background: #3441A5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #090127, #3441A5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #090127, #3441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header > img {
  height: 80%;
  margin-left: 10%;
}

header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
 }


button {
  border: none;
  font-family: VT323, monospace;
  font-size: 2.3em;
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #020202;
     -moz-box-shadow: inset 0px 0px 5px #020202;
          box-shadow: inset 0px 0px 5px #020202;
   outline: none;
}

.calculator > .display {
  width:320px;
  font-size: 2.6em;
  text-align: right;
  margin-bottom:1em
 }

 .calculator  {
    margin: auto;
    text-align: center;
 }

 .inputBoxes {
   width: 320px;
   margin:auto;
   background-color: white;
 }

 .row1 > button, .row2 > button {
  width:16.66%
}

.row3 > button {
  width: 50%
}

.row4 > button {
  width: 100%
}

 .calculator > .history {
  width:320px;
  font-size: 1.6em;
  text-align: left;
  margin-top:1em;
  background-color: lightyellow;
  border: none
 }

 .container {
  margin: auto;
  max-width: 800px;
}

@media (max-width: 400px) {
 
  .history {
    width: 100% !important;
  }
  .inputBoxes {
    width: 100% !important;
  }
  .display {
    width: 100% !important;
  }
}
